certifi==2020.4.5.1
cycler==0.10.0
Cython==0.29.19
decorator==4.4.2
infomap==1.1.3
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.1.3
networkx==2.2
numpy==1.18.5
pandas==1.0.4
POT==0.7.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-louvain==0.14
pytz==2020.1
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.0
six==1.15.0
threadpoolctl==2.1.0
